.cookies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: auto;
  width: 190px;
}
.cookie-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}
.cookie-button:hover {
  animation: glow 1s infinite alternate; /* Add glow animation */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #fff; /* Initial glow effect */
  }
  100% {
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff; /* Final glow effect */
  }
}

.resetbtn {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
